<launch>

  <!-- specify the planning pipeline -->
  <arg name="pipeline" default="ompl" />

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>

  <!-- launch the gazebo simulator and spawn the robot -->
  <include file="$(dirname)/gazebo.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
  </include>

  <include file="$(dirname)/demo.launch" pass_all_args="true">
    <!-- robot description is loaded by gazebo.launch, to enable Gazebo features -->
    <arg name="load_robot_description" value="false" />
    <arg name="moveit_controller_manager" value="ros_control" />
  </include>

  <node name="stereo_calc" pkg="stereo_image_proc" type="stereo_image_proc" respawn="false"
        required="true">
    <remap from="left/camera_info" to="camera_left/camera_info"/>
    <remap from="right/camera_info" to="camera_right/camera_info"/>
    <remap from="left/image_raw" to="camera_left/image_raw"/>
    <remap from="right/image_raw" to="camera_right/image_raw"/>
  <param name="disparity_range" value="208"/>
  <param name="min_disparity" value="-52"/>
  </node>
</launch>
